<div class="board-row" style="width: 100%;margin: 0 0 10px 0;">
    <div class="board-brief">
        <div class="row">
            <div class="col-10">
                <div class="row">
                    <div class="col-4">
                        <p class="full-width">
                            <label for="">Serial</label>
                            {% if Role %}
                            <input type="text" class="board-controls" id="id_Serial" value="{{ Board.Serial }}">
                            {% else %}
                            <input type="text" class="board-controls" id="id_Serial" value="{{ Board.Serial }}" disabled="disabled">
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-4" style="display: none;">
                        <p class="full-width">
                            <label for="">Status</label>
                            <input type="text" class="board-controls" id="id_Status" value="{{ Board.Status }}" disabled="disabled">
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="full-width">
                            <label for="">Board Owner</label>
                            {% if Board.user %}
                            <input type="text" class="board-controls id_Owner" value="{{ Board.user }}" disabled="disabled">
                            {% else %}
                            <input type="text" class="board-controls id_Owner" disabled="disabled">
                            {% endif %}
                        </p>
                    </div>
                    <div class="col-4">
                        <p class="full-width">
                            <label for="">IPMI Info</label>
                            {% if user.username == Board.user %}
                            <input type="text" class="board-controls" id="id_IPMI" value="{{ Board.ipmi_port }}" disabled="disabled">
                            {% else %}
                            <input type="text" class="board-controls" id="id_IPMI" disabled="disabled">
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                {% if not Board.user %}
                <button type="button" class="btn btn-success btn-request">Request</button>
                {% elif Board.user == user.username %}
                <button type="button" class="btn btn-danger btn-release">Release</button>
                {% else %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<hr />
<div id="id_BoardTabs" class="board-row" style="width: 100%;margin: 0;">
    <ul>
        <li class="context-tab"><a href="#tabs-Info">Public Info</a></li>
        {% if Role %}
        <li class="context-tab"><a href="#tabs-Private">Private Info</a></li>
        {% endif %}
        <li class="context-tab"><a href="#tabs-Devices">Devices</a></li>
        <li class="context-tab"><a href="#tabs-Note">Note</a></li>
    </ul>
    <div id="tabs-Info">
        <!-- PUBLIC INFO -->
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Hardware</h2>
                </div>
            </div>
        </div>
        <table id="id_TabHardware" class="table-hover HardwareTable">
            <thead class="thead-light">
                <tr>
                    <th style="width: 35%;text-align:center;">Key</th>
                    <th style="width: 55%;text-align:center;">Value</th>
                    <th style="width: 10%;text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in Board.Info.Hardware.iteritems %}
                <tr class="data-field-row">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}"></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}" disabled="disabled"></td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr style="display:none;">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value=""></td>
                    <td><input type="text" class="board-controls field-val" value=""></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% if Role %}
                    <td class="field-buttons">
                        <a class="new new-field" data-tooltip="New"><i class="material-icons">&#xE03B;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
        <br>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Software</h2>
                </div>
            </div>
        </div>
        <table id="id_TabSoftware" class="table-hover SoftwareTable">
            <thead class="thead-light">
                <tr>
                    <th style="width: 35%;text-align:center;">Key</th>
                    <th style="width: 55%;text-align:center;">Value</th>
                    <th style="width: 10%;text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in Board.Info.Software.iteritems %}
                <tr class="data-field-row">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}"></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}" disabled="disabled"></td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr style="display:none;">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value=""></td>
                    <td><input type="text" class="board-controls field-val" value=""></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% if Role %}
                    <td class="field-buttons">
                        <a class="new new-field" data-tooltip="New"><i class="material-icons">&#xE03B;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
    {% if Role %}
    <div id="tabs-Private">
        <!-- PRIVATE INFO -->
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2>BMC</h2>
                </div>
            </div>
        </div>
        <table id="id_TabBMC" class="table-hover BMCTable">
            <thead class="thead-light">
                <tr>
                    <th style="width: 35%;text-align:center;">Key</th>
                    <th style="width: 55%;text-align:center;">Value</th>
                    <th style="width: 10%;text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in Board.Private.BMC.iteritems %}
                <tr class="data-field-row">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}"></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}" disabled="disabled"></td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr style="display:none;">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value=""></td>
                    <td><input type="text" class="board-controls field-val" value=""></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% if Role %}
                    <td class="field-buttons">
                        <a class="new new-field" data-tooltip="New"><i class="material-icons">&#xE03B;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
        <br>
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Power</h2>
                </div>
            </div>
        </div>
        <table id="id_TabPower" class="table-hover PowerTable">
            <thead class="thead-light">
                <tr>
                    <th style="width: 35%;text-align:center;">Key</th>
                    <th style="width: 55%;text-align:center;">Value</th>
                    <th style="width: 10%;text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in Board.Private.Power.iteritems %}
                <tr class="data-field-row">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}"></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}" disabled="disabled"></td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr style="display:none;">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value=""></td>
                    <td><input type="text" class="board-controls field-val" value=""></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% if Role %}
                    <td class="field-buttons">
                        <a class="new new-field" data-tooltip="New"><i class="material-icons">&#xE03B;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
    {% endif %}

    <div id="tabs-Devices">
        <!-- DEVICES INFO -->
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Devices</h2>
                </div>
            </div>
        </div>
        <table id="id_TabDevices" class="table-hover DevicesTable">
            <thead class="thead-light">
                <tr>
                    <th style="text-align:center;">Type</th>
                    <th style="text-align:center;">Serial</th>
                    <th style="text-align:center;">Capacity</th>
                    <th style="text-align:center;">Speed</th>
                    <th style="text-align:center;">Slot</th>
                    <th style="text-align:center;">Vendor</th>
                    <th style="text-align:center;">Revision</th>
                    <th style="text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for dev in Board.Devices %}
                <tr class="data-field-row">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-type" value="{{ dev.Type }}"></td>
                    <td><input type="text" class="board-controls field-serial" value="{{ dev.Serial }}"></td>
                    <td><input type="text" class="board-controls field-capacity" value="{{ dev.Capacity }}"></td>
                    <td><input type="text" class="board-controls field-speed" value="{{ dev.Speed }}"></td>
                    <td><input type="text" class="board-controls field-slot" value="{{ dev.Slot }}"></td>
                    <td><input type="text" class="board-controls field-vendor" value="{{ dev.Vendor }}"></td>
                    <td><input type="text" class="board-controls field-revision" value="{{ dev.Revision }}"></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td><input type="text" class="board-controls field-type" value="{{ dev.Type }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-serial" value="{{ dev.Serial }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-capacity" value="{{ dev.Capacity }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-speed" value="{{ dev.Speed }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-slot" value="{{ dev.Slot }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-vendor" value="{{ dev.Vendor }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-revision" value="{{ dev.Revision }}" disabled="disabled"></td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr style="display:none;">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-type" value=""></td>
                    <td><input type="text" class="board-controls field-serial" value=""></td>
                    <td><input type="text" class="board-controls field-capacity" value=""></td>
                    <td><input type="text" class="board-controls field-slot" value=""></td>
                    <td><input type="text" class="board-controls field-speed" value=""></td>
                    <td><input type="text" class="board-controls field-vendor" value=""></td>
                    <td><input type="text" class="board-controls field-revision" value=""></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% if Role %}
                    <td class="field-buttons">
                        <a class="new new-field" data-tooltip="New"><i class="material-icons">&#xE03B;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
        <div class="table-header">
        </div>
    </div>

    <div id="tabs-Note">
        <!-- NOTES INFO -->
        <div class="table-title">
            <div class="row">
                <div class="col-sm-12">
                    <h2>Other Fields</h2>
                </div>
            </div>
        </div>
        <table id="id_TabNote" class="table-hover NoteTable">
            <thead class="thead-light">
                <tr>
                    <th style="width: 35%;text-align:center;">Key</th>
                    <th style="width: 55%;text-align:center;">Value</th>
                    <th style="width: 10%;text-align:center;">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for k,v in Board.Note.iteritems %}
                <tr class="data-field-row">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}"></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td><input type="text" class="board-controls field-key" value="{{ k }}" disabled="disabled"></td>
                    <td><input type="text" class="board-controls field-val" value="{{ v }}" disabled="disabled"></td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
                <tr style="display:none;">
                    {% if Role %}
                    <td><input type="text" class="board-controls field-key" value=""></td>
                    <td><input type="text" class="board-controls field-val" value=""></td>
                    <td class="field-buttons">
                        <a class="delete delete-field" data-tooltip="Delete"><i class="material-icons">&#xE872;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                    {% if Role %}
                    <td class="field-buttons">
                        <a class="new new-field" data-tooltip="New"><i class="material-icons">&#xE03B;</i></a>
                    </td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                </tr>
            </tfoot>
        </table>
    </div>
</div>
